.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cell {
  width: 24px;
  height: 24px;
  line-height: 23px;
  font-size: 14px;
  background-size: 100%;
  font-weight: 700;
}

.cell-closed {
  background-image: url("https://minesweeper.online/img/skins/hd/closed.svg?v=3");
}

.cell-mine {
  background-image: url("https://minesweeper.online/img/skins/hd/mine.svg?v=3");
}

.cell-open {
  background-image: url("https://minesweeper.online/img/skins/hd/type0.svg?v=3");
}

.cell-flag {
  background-image: url("https://minesweeper.online/img/skins/hd/flag.svg?v=3");
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 24px);
  /* grid-template-rows: repeat(10, 24px); */
}
